@using CoffeeShop.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<user> users = Model;
    bool notFound = false;
    if (users.Count() == 0) {
        notFound = true; 
    }
}




<link href="~/Content/css-admin/style.css" rel="stylesheet" />
<link href="~/Content/css-admin/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css-admin/owl.carousel.min.css" rel="stylesheet" />
<a href="~/Content/css-admin/bootstrap.min.css.map"></a>

<!aria-labelledby="v-pills-1-tab">

<section class="ftco-menu mb-5 pb-5">
    <div class="container">
            <div class="col-lg-12 ftco-animate p-md-5">
                <div class="row">
                    <div class="col-md-12 nav-link-wrap mb-5">
                        <div class="nav ftco-animate nav-pills justify-content-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-0-tab" data-toggle="pill" href="#v-pills-0" role="tab" aria-controls="v-pills-0" aria-selected="true">Users</a>
                            <a class="nav-link" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="false">Main Dish</a>
                            <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Drinks</a>
                            <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Desserts</a>
                        </div>
                        <div class="tab-content ftco-animate" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-0" role="tabpanel" aria-labelledby="v-pills-0-tab">
                                <br />
                                <form action="SearchUser" method="post">
                                    <div class="row d-md-flex col-5 mx-auto">
                                        <div class="input-group">
                                            <input id="search" name ="searchInput"type="text" class="form-control rounded" placeholder="Search user" aria-label="Search"
                                                   aria-describedby="search-addon" />
                                            <button type="submit" class="btn btn-primary btn-outline-primary">search</button>
                                        </div>
                                    </div>
                                </form>

                                @if (!notFound)
                                {
                                <div class="table-responsive custom-table-responsive">
                                    <table class="table custom-table">
                                        <thead>
                                            <tr>
                                                <th scope="col">
                                                    <label class="control control--checkbox">
                                                        <input type="checkbox" class="js-check-all" />
                                                        <div class="control__indicator"></div>
                                                    </label>
                                                </th>
                                                <th scope="col">Full name</th>
                                                <th scope="col">email</th>
                                                <th scope="col">Role</th>
                                            </tr>
                                        </thead>
                                        <tbody>          
                                                        
                                        @foreach (user u in Model)
                                        {

                                        <tr scope="row">
                                            <th scope="row">
                                                <label class="control control--checkbox">
                                                    <input type="checkbox" />
                                                    <div class="control__indicator"></div>
                                                </label>
                                            </th>
                                            <td>
                                                @u.name
                                            </td>
                                            <td><a href="#">@u.email </a></td>
                                            <td>
                                                @u.role
                                            </td>
                                        </tr>

                                        }
                                                    
                                                </tbody>
                                        </table>
                                </div>
                                }
                                else { <h1>no users</h1>}
                            </div>
                              




                            <div class="tab-pane fade" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                                <div class="table-responsive custom-table-responsive">
                                    <table class="table custom-table">
                                        <thead>
                                            <tr>
                                                <th scope="col">
                                                    <label class="control control--checkbox">
                                                        <input type="checkbox" class="js-check-all" />
                                                        <div class="control__indicator"></div>
                                                    </label>
                                                </th>

                                                <th scope="col">Order</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Occupation</th>
                                                <th scope="col">Contact</th>
                                                <th scope="col">Education</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr scope="row">
                                                <th scope="row">
                                                    <label class="control control--checkbox">
                                                        <input type="checkbox" />
                                                        <div class="control__indicator"></div>
                                                    </label>
                                                </th>
                                                <td>
                                                    1392
                                                </td>
                                                <td><a href="#">James Yates</a></td>
                                                <td>
                                                    Web Designer
                                                    <small class="d-block">Far far away, behind the word mountains</small>
                                                </td>
                                                <td>+63 983 0962 971</td>
                                                <td>NY University</td>
                                            </tr>
                                            <tr class="spacer"><td colspan="100"></td></tr>
                                            <tr>
                                                <th scope="row">
                                                    <label class="control control--checkbox">
                                                        <input type="checkbox" />
                                                        <div class="control__indicator"></div>
                                                    </label>
                                                </th>

                                                <td>4616</td>
                                                <td><a href="#">Matthew Wasil</a></td>
                                                <td>
                                                    Graphic Designer
                                                    <small class="d-block">Far far away, behind the word mountains</small>
                                                </td>
                                                <td>+02 020 3994 929</td>
                                                <td>London College</td>
                                            </tr>
                                            <tr class="spacer"><td colspan="100"></td></tr>
                                            <tr>
                                                <th scope="row">
                                                    <label class="control control--checkbox">
                                                        <input type="checkbox" />
                                                        <div class="control__indicator"></div>
                                                    </label>
                                                </th>

                                                <td>9841</td>
                                                <td><a href="#">Sampson Murphy</a></td>
                                                <td>
                                                    Mobile Dev
                                                    <small class="d-block">Far far away, behind the word mountains</small>
                                                </td>
                                                <td>+01 352 1125 0192</td>
                                                <td>Senior High</td>
                                            </tr>
                                            <tr class="spacer"><td colspan="100"></td></tr>
                                            <tr>
                                                <th scope="row">
                                                    <label class="control control--checkbox">
                                                        <input type="checkbox" />
                                                        <div class="control__indicator"></div>
                                                    </label>
                                                </th>

                                                <td>9548</td>
                                                <td><a href="#">Gaspar Semenov</a></td>
                                                <td>
                                                    Illustrator
                                                    <small class="d-block">Far far away, behind the word mountains</small>
                                                </td>
                                                <td>+92 020 3994 929</td>
                                                <td>College</td>
                                            </tr>
                                            <tr class="spacer"><td colspan="100"></td></tr>
                                            <tr>
                                                <th scope="row">
                                                    <label class="control control--checkbox">
                                                        <input type="checkbox" />
                                                        <div class="control__indicator"></div>
                                                    </label>
                                                </th>

                                                <td>4616</td>
                                                <td><a href="#">Matthew Wasil</a></td>
                                                <td>
                                                    Graphic Designer
                                                    <small class="d-block">Far far away, behind the word mountains</small>
                                                </td>
                                                <td>+02 020 3994 929</td>
                                                <td>London College</td>
                                            </tr>
                                            <tr class="spacer"><td colspan="100"></td></tr>
                                            <tr>
                                                <th scope="row">
                                                    <label class="control control--checkbox">
                                                        <input type="checkbox" />
                                                        <div class="control__indicator"></div>
                                                    </label>
                                                </th>

                                                <td>9841</td>
                                                <td><a href="#">Sampson Murphy</a></td>
                                                <td>
                                                    Mobile Dev
                                                    <small class="d-block">Far far away, behind the word mountains</small>
                                                </td>
                                                <td>+01 352 1125 0192</td>
                                                <td>Senior High</td>
                                            </tr>
                                            <tr class="spacer"><td colspan="100"></td></tr>
                                            <tr>
                                                <th scope="row">
                                                    <label class="control control--checkbox">
                                                        <input type="checkbox" />
                                                        <div class="control__indicator"></div>
                                                    </label>
                                                </th>

                                                <td>9548</td>
                                                <td><a href="#">Gaspar Semenov</a></td>
                                                <td>
                                                    Illustrator
                                                    <small class="d-block">Far far away, behind the word mountains</small>
                                                </td>
                                                <td>+92 020 3994 929</td>
                                                <td>College</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/js-admin/popper.min.js"></script>
<script src="~/Scripts/js-admin/bootstrap.min.js"></script>
<script src="~/Scripts/js-admin/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/js-admin/main.js"></script>
